.button {
    padding: 0.5rem 1rem;
    font-weight: bold;
    letter-spacing: 0.05em;
    background-color: var(--accent-color-to);
    border: none;
    border-radius: 0.25rem;
    color: #32323e;
  }
  
  .button:hover {
    filter: brightness(1.1);
    cursor: pointer;
    transform: scale(1.01)
  }
  
  .button:disabled {
    filter: saturate(40%);
    cursor: default;
  }