.swapCard {
    padding-top: 1vh;
    background-color: var(--secondary-background-color);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
  }
  .swapCard:hover {
    transform: translate(-50%, -50%) scale(1.01);
}
 
  .formGroup {
    display: flex;
  }
  
  .formControl {
    border: none;
    background-color: var(--tertiary-background-color);
    flex: 1;
    padding: 0.8rem 1rem;
    border-radius: 0.75rem 0 0 0.75rem;
    border: 1px solid var(--tertiary-background-color);
  }
  .formControl:hover:not(:disabled) {
    transform: scale(1.01);
}
  .formControl:disabled {
    background-color: hsl(240, 6%, 19%);
    border: 1px solid hsl(240, 6%, 19%);
  }
  
  .tokenContainer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--tertiary-background-color);
    border-radius: 0 1.25rem 1.25rem 0;
  }
 
  .tokenIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .tokenSymbol {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  
  .balance {
    font-size: 0.75rem;
    margin-left: calc(1rem + 1px);
    margin-top: 0.25rem;
  }
  
  .Logo{
    font-weight: bold;
    text-align: center;
    color: #ffe400;
    font-size: xx-large;
    padding-top: 1vh;
  }
  
  .LogoSmall{
    font-weight: bold;
    text-align: center;
    color: #efdc2eef;
    font-size: large;
    padding-top: 3vh;
    z-index: -1;
  }
  
  .additionalText{
    font-weight: bold;
    position: relative;
    color: #efdc2eef;
    font-size: large;
    
    padding-top: 3vh;
    top: 48vh;
    text-align: center;
  }

  .additionalText a {
    color: #129a36 ; /* To match the color of the surrounding text */
    text-decoration: underline; /* To show it's a hyperlink */
}

.additionalText a :hover{
  transform: scale(1.02)
}

  

  .userView{
    font-weight: bold;
    position: relative;
    color: #efdc2eef;
    font-size: large;
    padding-left: 36vw;
    padding-top: 3vh;
    top: 48vh;
  }

  

  .label {
    color: hsl(240, 6%, 19%);;
    font-weight: bold;
    padding-bottom: 2vh;
  }
  
/* CSS */
.button {
  background-color: #ffe400;
  border-radius: 0.75rem 0 0 0.75rem;
  color: #32323e;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  outline: 0;
  background: #ffe400;
  box-shadow: #129a36;
  transform: scale(1.01);
}

.button:disabled {
  filter: saturate(0.6) opacity(0.8);
  -webkit-filter: saturate(0.5) opacity(0.5);
  cursor: not-allowed;
}
 


.things > .content {
  float: left;
  width: 50%;
  height: 500px;
  -webkit-box-sizing: border-box; 
	-moz-box-sizing: border-box;    
	box-sizing: border-box;
  position: relative;
}

.things > .content h1 {
  font-family: 'Arial', sans-serif;
  text-transform: uppercase;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  height: 150px;
  color: #89323B;
}

/* Arrow */

.curvedArrow {
	position: relative;
  margin: 0 auto;
  width: 100px;
  z-index: 10;
}

.curvedArrow .curve {
	border: 2px solid #BE5F4B;
	height: 360px;
	width: 1200px;
	border-radius: 230px 0 0 150px;
}

.curvedArrow .point {
	position: absolute;
	left: 40px;
	top: 315px;
}

.curvedArrow .point:before, .curvedArrow .point:after {
	border: 1px solid #BE5F4B;
	height: 25px;
	position: absolute;
}

.curvedArrow .point:before {
	top: -11px;
	left: -11px;
	transform:rotate(-74deg);
	-webkit-transform:rotate(-74deg);
  -moz-transform:rotate(-74deg);
  -ms-transform: rotate(-74deg);
}

.curvedArrow .point:after {
  top: -20px;
	left: 5px;
	transform:rotate(12deg);
	-webkit-transform: rotate(12deg);
  -moz-transform:rotate(12deg);
  -ms-transform: rotate(12deg);
}


.curvedArrow:hover {
  animation: bounce 1.0s infinite;
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: rotate(45deg) translateY(0);
  }
  40% {
    transform: rotate(45deg) translateY(-10px);
  }
  60% {
    transform: rotate(45deg) translateY(-5px);
  }
}