.swapCard {
    background-color: var(--secondary-background-color);
    padding: 2rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 400px;
  }
  
  .formGroup {
    display: flex;
  }
  
  .formControl {
    border: none;
    background-color: var(--tertiary-background-color);
    flex: 1;
    padding: 0.8rem 1rem;
    border-radius: 0.75rem 0 0 0.75rem;
    border: 1px solid var(--tertiary-background-color);
  }
  
  .formControl:disabled {
    background-color: hsl(240, 6%, 19%);
    border: 1px solid hsl(240, 6%, 19%);
  }
  
  .tokenContainer {
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background-color: var(--tertiary-background-color);
    border-radius: 0 1.25rem 1.25rem 0;
  }
  
  .tokenIcon {
    width: 1.5rem;
    height: 1.5rem;
  }
  
  .tokenSymbol {
    font-size: 0.75rem;
    line-height: 1.5;
  }
  
  .balance {
    font-size: 0.75rem;
    margin-left: calc(1rem + 1px);
    margin-top: 0.25rem;
  }
  
  .Logo{
    font-weight: bold;
    text-align: center;
    color: #ffe400;
    font-size: xx-large;
    padding-top: 50px;
  }
  .label {
    color: hsl(240, 6%, 19%);;
    font-weight: bold;
  }

/* CSS */
.button {
  background-color: #ffe400;
  border-radius: 0.75rem 0 0 0.75rem;
  color: #8a8a8a;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  text-align: center;
  transition: 200ms;
  width: 100%;
  box-sizing: border-box;
  border: 0;
  font-size: 16px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button:not(:disabled):hover,
.button:not(:disabled):focus {
  outline: 0;
  background: #ffe400;
  box-shadow: 0 0 0 2px rgba(0,0,0,.2), 0 3px 8px 0 rgba(0,0,0,.15);
}

.button:disabled {
  filter: saturate(0.6) opacity(0.8);
  -webkit-filter: saturate(0.5) opacity(0.5);
  cursor: not-allowed;
}
 

